@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&display=swap');

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #212529;
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New'
    monospace;
}


* {
    box-sizing: border-box;
    /* outline: 1px solid red; */
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
button,
a
{
  font-family: 'Bricolage Grotesque', sans-serif;
}
